//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 17 11:10:11 2020
//! **************************************************************************

SCHEMATIC START;
COMP "D_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "E_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "Buzzer_P83" LOCATE = SITE "P83" LEVEL 1;
COMP "S_P56" LOCATE = SITE "P56" LEVEL 1;
COMP "H_P55" LOCATE = SITE "P55" LEVEL 1;
COMP "B_P57" LOCATE = SITE "P57" LEVEL 1;
SCHEMATIC END;

